* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*:after {
  -webkit-box-shadow: inset hoff voff blur color;
  -moz-box-shadow: inset hoff voff blur color;
  box-shadow: inset hoff voff blur color;
}

:root {
  --primary-color: #00aced;
  --secondary-color: #e4e4e4;
  --body-bg: #f6f2f2;
  --primary-color-dark: #186d8d;
  --box-shadow-blur: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
  --box-shadow-no-blur: 0px 0px 0px 3px var(--primary-color-dark);
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  background: var(--body-bg);
}

aside {
  flex-basis: 40%;
  max-width: 400px;
  background: var(--primary-color);
  padding: 1rem;
  color: var(--body-bg);
}

aside h1 {
  text-align: center;
  color: var(--body-bg);
}

.options-set-heading {
  margin: 1rem 0;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.each-option {
  flex: 1 1 40%;
  padding: 0.2rem;
}

.each-option label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  padding: 0.5rem 0.8rem;
  width: 100%;
  border-radius: 4px;
  border: none;
}

.color-options input {
  display: none;
}

.color-options p {
  margin-bottom: 10px;
}

.color-options label {
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(25%);
  background: #000;
  border: 1px solid var(--body-bg);
}

.form-control:focus,
.form-control:active,
label.color-label:focus,
label.color-label:active {
  box-shadow: var(--box-shadow-no-blur);
}

main {
  flex: 1 1 60%;
  margin: 2rem;
  box-shadow: var(--box-shadow-blur);
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.canvas-header {
  width: 100%;
  height: 72px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--body-bg);
}

.canvas-header .icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.canvas-header .icons i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: 0.7s;
}

.canvas-header .icons i:focus,
.canvas-header .icons i:active,
.canvas-header .icons i:hover {
  outline: none;
  background: var(--primary-color-dark);
}
#mycanvas {
  width: 100%;
  height: calc(100% - 72px);
  background: var(--body-bg);
  cursor: url(pencil.png), crosshair;
  border: 1px solid var(--primary-color);
}
